.loginInput {
	margin-bottom: 3px;
}

.welcomePage {
	background-image:url('../images/houses.jpg');
	height:266px;
	background-size: 370px 266px;
	background-repeat: no-repeat;	
	padding-left: 3px;
	
}