.welcomePage {
	background-image:url('../images/houses.jpg');
	height:315px;
	background-size: 470px 315px;
	background-repeat: no-repeat;	
}
.welcomePage h1 {
	margin-left: 10px;
	margin-top: 10px;
}
.welcomePage p {
	margin-left: 10px;
}