@(loggedInUser : User, eventForm: Form[DashBoard.EventForm])

@import helper._

@master {
<div class="row">
	Welcome @loggedInUser.googleAccessToken to your flatfrog account
</div>
<div class="row">
	<div class="span2">
		<a data-toggle="modal" href="#createNewEvent"  class="btn btn-primary">Create your own event</a>
	</div>
		<div id="userEvents" class="span10">
		 @for(event <- loggedInUser.registeredEvents) {
		 	<div class="row">
		 		<div class="span10">
		 			<h3>@event.eventName</h3>
		 			<a data-toggle="modal" href="#addPictures" class="btn btn-small btn-success">Add pictures to this event...</a>
		 		<div class="row">
		 			@for(eventPicture <- event.pictures) {
		 				<div class="span1">
		 					<img src="@eventPicture.url" />
		 				</div>
		 			}
		 		</div>
		 		
		 		</div>
		 	</div>
		 }	
	</div>
		 	
	</div>
</div>

<div class="modal hide fade" id="createNewEvent">
  <div class="modal-header">

   	<button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Create event</h3>
  	</div>

	  <div class="modal-body">
	    <p>
	    <table>
		    <tr>
		    <td><label for="eventName">Event Name</label></td>
		    <td><input id="eventName"  required="required" type="text" name="eventName" placeHolder="Please fill in name"/></td>
		    </tr>
	    </table>
	    </p>
    </div>
  <div class="modal-footer">
  	<a href="#" class="btn btn-primary" data-dismiss="modal" onclick="createNewEvent('@loggedInUser.email')">Create</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
  
</div>

<div class="modal hide fade" id="addPictures">
  <div class="modal-header">

   	<button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add pictures to: </h3><h3 id="picturePanelEventName"></h3> 
  	</div>

	  <div class="modal-body">
	    <p>
	   		<div id="googleDrivePictures">
   				@form(action = routes.DashBoard.googleLogin(), 'class -> "well") {
					<button type="submit" class="btn btn-primary">Google Sign in</button>
				}
	   		</div>
	    </p>
    </div>
  <div class="modal-footer">
  	<a href="#" class="btn btn-primary" data-dismiss="modal" onclick="">Done</a>
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  </div>
  
</div>

}


