@(message: String)

@import helper._

@main("Welcome to FlatFrog") {
    
   	<div class="container" style="margin-top: 5%">
	<div class="row">
		<div class="span9 offset2">
			<div class="span4 welcomePage">
				<div class="welcomeText")>
					<h1>Welcome to FlatFrog</h1>
					<p>
						Take control over your pictures.
					</p>
				</div>
			</div>

			<div class="span4">
				
				@form(action = routes.Index.signIn(), 'class -> "well form-inline", 'style->"padding-left:45px") {
        			<input class="span3" id="userName" name="userName" placeholder="e-mail address" value="">
        			<input class="span2" id="password" type="password" name="password" placeholder="Password" value="">
       				<button type="submit" class="btn btn-primary">Sign in</button>
    			}
				@form(action = routes.Index.signUp(), 'class -> "well form-inline", 'style->"padding-left:45px") {
        			<input type="text" name="userName" class="span2" placeholder="Username" value="">
        			<input type="text" name="email" class="span2" placeholder="e-mail address" value="">
					<input type="password" name="password" class="span2" placeholder="Password" value="">
					<button type="submit" style="width275px"" class="btn btn-primary">Sign up for FlatFrog</button>
				}
				</form>
			</div>
		</div>
	</div>
</div>
   	
    
}